# EmailJS - Configuración para envío de reportes
# Regístrate en https://www.emailjs.com para obtener tus credenciales
VITE_EMAILJS_SERVICE_ID=service_6qbog99
VITE_EMAILJS_TEMPLATE_ID=template_9z99xci
VITE_EMAILJS_PUBLIC_KEY=tUSK_lYrWmDOqWbtg
